<div class="row">
  <center><h2><%= t "views.words.edit" %></h2></center>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @word.category, @word] do |f| %>

      <%= f.label :Questions %>
      <%= f.text_field :content, class: "form-control" %>

      <%= f.label :content, "Answer" %><br />

      <%= f.fields_for :answers do |t| %>
        <%= render "answer_fields", f: t %>
      <% end %>

      <%= f.submit t("views.categories.update"), id: "create_word",
        class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
