<% @users.each do |user| %>
  <div class="col-md-3" id="information_user">
    <div class="row">
      <% if user.avatar.present? %>
        <%= link_to image_tag(user.avatar, class: "thumbnail"), user %>
      <% else %>
        <%= link_to image_tag("fram1.jpg", class: "thumbnail", size: "200"), user %>
      <% end %>
    </div>
    <div class="row">
      <% if user.name.present? %>
        <%= t "views.users.name" %>: <b><%= user.name %></b>
      <% else %>
        <%= t "views.users.name" %>: <b><%= t "views.users.noname" %></b>
      <% end %><br />
      <%= t "views.users.email" %>: <b><%= user.email %></b>
    </div>
  </div>
<% end %>
