<div class="col-md-4 blog-main box text-center" id="category_<%= category.id %>">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to category.name,
        admin_category_path(category) %></h3>
      <p><%= category.description %></p>
    </div>
    <div class="panel-body">
      <div class="date_time"><%= localize_time category.created_at %></div>
      <br>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warning"
          data-toggle="modal" data-target="#myupdatecategory_<%= category.id %>">
          <%= t "views.categories.edit" %></button>
        <%= link_to t("views.categories.delete"), [:admin, category],
          method: :delete, class: "btn btn-danger", remote: true %>
        <%= form_for Lesson.new do |f| %>
          <%= f.hidden_field :category_id, value: category.id %>
          <%= f.submit t("views.categories.index.start_lesson"),
            class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="modal fade" id="myupdatecategory_<%= category.id %>" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
            <%= t "views.categories.edit" %></h4>
        </div>
        <%= form_for [:admin, category], :method => :put, remote: true do |f| %>
          <div class="modal-body">
            <div class="category-errors">
            </div>
            <div class="field">
              <%= f.label :name %><br>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_area :description, class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :avatar  %>
              <%= f.file_field :avatar %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= category.id %>"
              class="btn btn-default" data-dismiss="modal">
              <%= t "views.categories.close" %>
              </button>
            <%= f.submit t("views.categories.update"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
