<table class="table table-striped">
  <thead class="thead_table_word">
    <tr>
      <td><%= t "views.categories.word" %></td>
      <td><%= t "views.categories.action" %></td>
    </tr>
  </thead>
  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.content %></td>
        <td>
          <%= link_to edit_admin_category_word_path(word.category, word) do %>
            <span class= "glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to  [:admin, @category, word], method: :delete,
            data: {confirm: t("flash.check")} do %>
            <span class= "glyphicon glyphicon-trash text-danger"></span>
          <% end %><br />
        </td>
      </tr>
    <% end %><br />
  </tbody>
</table>
