<table class="table table-hover" id="list_user">
  <thead class="title_table">
    <th><%= t "views.users.stt" %></th>
    <th><%= t "views.users.Avatar" %></th>
    <th><%= t "views.users.name" %></th>
    <th><%= t "views.users.email" %></th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= @index = @index + 1 %></td>
        <% if user.avatar.present? %>
          <td><%= image_tag(user.avatar, size: "50") %></td>
        <% else %>
          <td><%= image_tag("fram1.jpg", size: "50") %></td>
        <% end %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%=link_to [:admin, user], method: :delete,
            data: {confirm: t("flash.check")} do %>
            <span class= "glyphicon glyphicon-trash text-danger"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
